# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.gitignore
.idea/workspace.xml
venv/include/
venv/lib/python3.7/site-packages/IPython/__pycache__/
venv/lib/python3.7/site-packages/IPython/core/__pycache__/
venv/lib/python3.7/site-packages/IPython/core/magics/__pycache__/
venv/lib/python3.7/site-packages/IPython/core/tests/__pycache__/
venv/lib/python3.7/site-packages/IPython/core/tests/daft_extension/__pycache__/
venv/lib/python3.7/site-packages/IPython/extensions/__pycache__/
venv/lib/python3.7/site-packages/IPython/extensions/tests/__pycache__/
venv/lib/python3.7/site-packages/IPython/external/__pycache__/
venv/lib/python3.7/site-packages/IPython/external/decorators/__pycache__/
venv/lib/python3.7/site-packages/IPython/kernel/__pycache__/
venv/lib/python3.7/site-packages/IPython/lib/__pycache__/
venv/lib/python3.7/site-packages/IPython/lib/tests/__pycache__/
venv/lib/python3.7/site-packages/IPython/sphinxext/__pycache__/
venv/lib/python3.7/site-packages/IPython/terminal/__pycache__/
venv/lib/python3.7/site-packages/IPython/terminal/pt_inputhooks/__pycache__/
venv/lib/python3.7/site-packages/IPython/terminal/tests/__pycache__/
venv/lib/python3.7/site-packages/IPython/testing/__pycache__/
venv/lib/python3.7/site-packages/IPython/testing/plugin/__pycache__/
venv/lib/python3.7/site-packages/IPython/testing/tests/__pycache__/
venv/lib/python3.7/site-packages/IPython/utils/__pycache__/
venv/lib/python3.7/site-packages/IPython/utils/tests/__pycache__/
venv/lib/python3.7/site-packages/__pycache__/
venv/lib/python3.7/site-packages/appnope/__pycache__/
venv/lib/python3.7/site-packages/attr/__pycache__/
venv/lib/python3.7/site-packages/backcall/__pycache__/
venv/lib/python3.7/site-packages/bleach/__pycache__/
venv/lib/python3.7/site-packages/bleach/_vendor/__pycache__/
venv/lib/python3.7/site-packages/bleach/_vendor/html5lib/__pycache__/
venv/lib/python3.7/site-packages/bleach/_vendor/html5lib/_trie/__pycache__/
venv/lib/python3.7/site-packages/bleach/_vendor/html5lib/filters/__pycache__/
venv/lib/python3.7/site-packages/bleach/_vendor/html5lib/treeadapters/__pycache__/
venv/lib/python3.7/site-packages/bleach/_vendor/html5lib/treebuilders/__pycache__/
venv/lib/python3.7/site-packages/bleach/_vendor/html5lib/treewalkers/__pycache__/
venv/lib/python3.7/site-packages/dateutil/__pycache__/
venv/lib/python3.7/site-packages/dateutil/parser/__pycache__/
venv/lib/python3.7/site-packages/dateutil/tz/__pycache__/
venv/lib/python3.7/site-packages/dateutil/zoneinfo/__pycache__/
venv/lib/python3.7/site-packages/defusedxml/__pycache__/
venv/lib/python3.7/site-packages/ipykernel/__pycache__/
venv/lib/python3.7/site-packages/ipykernel/comm/__pycache__/
venv/lib/python3.7/site-packages/ipykernel/gui/__pycache__/
venv/lib/python3.7/site-packages/ipykernel/inprocess/__pycache__/
venv/lib/python3.7/site-packages/ipykernel/inprocess/tests/__pycache__/
venv/lib/python3.7/site-packages/ipykernel/pylab/__pycache__/
venv/lib/python3.7/site-packages/ipykernel/tests/__pycache__/
venv/lib/python3.7/site-packages/ipython_genutils/__pycache__/
venv/lib/python3.7/site-packages/ipython_genutils/testing/__pycache__/
venv/lib/python3.7/site-packages/ipython_genutils/tests/__pycache__/
venv/lib/python3.7/site-packages/ipywidgets/__pycache__/
venv/lib/python3.7/site-packages/ipywidgets/tests/__pycache__/
venv/lib/python3.7/site-packages/ipywidgets/widgets/__pycache__/
venv/lib/python3.7/site-packages/ipywidgets/widgets/tests/__pycache__/
venv/lib/python3.7/site-packages/jedi/__pycache__/
venv/lib/python3.7/site-packages/jedi/api/__pycache__/
venv/lib/python3.7/site-packages/jedi/common/__pycache__/
venv/lib/python3.7/site-packages/jedi/evaluate/__pycache__/
venv/lib/python3.7/site-packages/jedi/evaluate/compiled/__pycache__/
venv/lib/python3.7/site-packages/jedi/evaluate/compiled/subprocess/__pycache__/
venv/lib/python3.7/site-packages/jedi/evaluate/context/__pycache__/
venv/lib/python3.7/site-packages/jedi/evaluate/gradual/__pycache__/
venv/lib/python3.7/site-packages/jedi/plugins/__pycache__/
venv/lib/python3.7/site-packages/jinja2/__pycache__/
venv/lib/python3.7/site-packages/jsonschema/__pycache__/
venv/lib/python3.7/site-packages/jsonschema/benchmarks/__pycache__/
venv/lib/python3.7/site-packages/jsonschema/tests/__pycache__/
venv/lib/python3.7/site-packages/jupyter_client/__pycache__/
venv/lib/python3.7/site-packages/jupyter_client/blocking/__pycache__/
venv/lib/python3.7/site-packages/jupyter_client/ioloop/__pycache__/
venv/lib/python3.7/site-packages/jupyter_client/tests/__pycache__/
venv/lib/python3.7/site-packages/jupyter_console/__pycache__/
venv/lib/python3.7/site-packages/jupyter_console/tests/__pycache__/
venv/lib/python3.7/site-packages/jupyter_core/__pycache__/
venv/lib/python3.7/site-packages/jupyter_core/tests/__pycache__/
venv/lib/python3.7/site-packages/jupyter_core/tests/dotipython/profile_default/__pycache__/
venv/lib/python3.7/site-packages/jupyter_core/tests/dotipython_empty/profile_default/__pycache__/
venv/lib/python3.7/site-packages/jupyter_core/utils/__pycache__/
venv/lib/python3.7/site-packages/markupsafe/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/exporters/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/exporters/tests/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/filters/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/filters/tests/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/postprocessors/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/postprocessors/tests/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/preprocessors/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/preprocessors/tests/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/resources/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/tests/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/tests/exporter_entrypoint/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/tests/files/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/utils/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/utils/tests/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/writers/__pycache__/
venv/lib/python3.7/site-packages/nbconvert/writers/tests/__pycache__/
venv/lib/python3.7/site-packages/nbformat/__pycache__/
venv/lib/python3.7/site-packages/nbformat/tests/__pycache__/
venv/lib/python3.7/site-packages/nbformat/v1/__pycache__/
venv/lib/python3.7/site-packages/nbformat/v1/tests/__pycache__/
venv/lib/python3.7/site-packages/nbformat/v2/__pycache__/
venv/lib/python3.7/site-packages/nbformat/v2/tests/__pycache__/
venv/lib/python3.7/site-packages/nbformat/v3/__pycache__/
venv/lib/python3.7/site-packages/nbformat/v3/tests/__pycache__/
venv/lib/python3.7/site-packages/nbformat/v4/__pycache__/
venv/lib/python3.7/site-packages/nbformat/v4/te
sts/__pycache__/
venv/lib/python3.7/site-packages/notebook/__pycache__/
venv/lib/python3.7/site-packages/notebook/auth/__pycache__/
venv/lib/python3.7/site-packages/notebook/auth/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/base/__pycache__/
venv/lib/python3.7/site-packages/notebook/bundler/__pycache__/
venv/lib/python3.7/site-packages/notebook/bundler/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/edit/__pycache__/
venv/lib/python3.7/site-packages/notebook/files/__pycache__/
venv/lib/python3.7/site-packages/notebook/i18n/__pycache__/
venv/lib/python3.7/site-packages/notebook/kernelspecs/__pycache__/
venv/lib/python3.7/site-packages/notebook/nbconvert/__pycache__/
venv/lib/python3.7/site-packages/notebook/nbconvert/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/notebook/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/api/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/api/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/config/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/config/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/contents/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/contents/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/kernels/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/kernels/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/kernelspecs/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/kernelspecs/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/nbconvert/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/nbconvert/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/security/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/sessions/__pycache__/
venv/lib/python3.7/site-packages/notebook/services/sessions/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/terminal/__pycache__/
venv/lib/python3.7/site-packages/notebook/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/tests/selenium/__pycache__/
venv/lib/python3.7/site-packages/notebook/tree/__pycache__/
venv/lib/python3.7/site-packages/notebook/tree/tests/__pycache__/
venv/lib/python3.7/site-packages/notebook/view/__pycache__/
venv/lib/python3.7/site-packages/parso/__pycache__/
venv/lib/python3.7/site-packages/parso/pgen2/__pycache__/
venv/lib/python3.7/site-packages/parso/python/__pycache__/
venv/lib/python3.7/site-packages/pexpect/__pycache__/
venv/lib/python3.7/site-packages/prometheus_client/__pycache__/
venv/lib/python3.7/site-packages/prometheus_client/openmetrics/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/application/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/clipboard/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/completion/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/contrib/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/contrib/completers/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/contrib/regular_languages/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/contrib/telnet/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/eventloop/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/filters/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/formatted_text/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/input/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/key_binding/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/key_binding/bindings/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/layout/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/lexers/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/output/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/shortcuts/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/shortcuts/progress_bar/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/styles/__pycache__/
venv/lib/python3.7/site-packages/prompt_toolkit/widgets/__pycache__/
venv/lib/python3.7/site-packages/ptyprocess/__pycache__/
venv/lib/python3.7/site-packages/pygments/__pycache__/
venv/lib/python3.7/site-packages/pygments/filters/__pycache__/
venv/lib/python3.7/site-packages/pygments/formatters/__pycache__/
venv/lib/python3.7/site-packages/pygments/lexers/__pycache__/
venv/lib/python3.7/site-packages/pygments/styles/__pycache__/
venv/lib/python3.7/site-packages/pyrsistent/__pycache__/
venv/lib/python3.7/site-packages/qtconsole/__pycache__/
venv/lib/python3.7/site-packages/qtconsole/tests/__pycache__/
venv/lib/python3.7/site-packages/send2trash/__pycache__/
venv/lib/python3.7/site-packages/terminado/__pycache__/
venv/lib/python3.7/site-packages/terminado/tests/__pycache__/
venv/lib/python3.7/site-packages/testpath/__pycache__/
venv/lib/python3.7/site-packages/tornado/__pycache__/
venv/lib/python3.7/site-packages/tornado/platform/__pycache__/
venv/lib/python3.7/site-packages/traitlets/__pycache__/
venv/lib/python3.7/site-packages/traitlets/config/__pycache__/
venv/lib/python3.7/site-packages/traitlets/config/tests/__pycache__/
venv/lib/python3.7/site-packages/traitlets/tests/__pycache__/
venv/lib/python3.7/site-packages/traitlets/utils/__pycache__/
venv/lib/python3.7/site-packages/traitlets/utils/tests/__pycache__/
venv/lib/python3.7/site-packages/wcwidth/__pycache__/
venv/lib/python3.7/site-packages/wcwidth/tests/__pycache__/
venv/lib/python3.7/site-packages/webencodings/__pycache__/
venv/lib/python3.7/site-packages/widgetsnbextension/__pycache__/
venv/lib/python3.7/site-packages/zmq/__pycache__/
venv/lib/python3.7/site-packages/zmq/asyncio/__pycache__/
venv/lib/python3.7/site-packages/zmq/auth/__pycache__/
venv/lib/python3.7/site-packages/zmq/auth/asyncio/__pycache__/
venv/lib/python3.7/site-packages/zmq/backend/__pycache__/
venv/lib/python3.7/site-packages/zmq/backend/cffi/__pycache__/
venv/lib/python3.7/site-packages/zmq/backend/cython/__pycache__/
venv/lib/python3.7/site-packages/zmq/devices/__pycache__/
venv/lib/python3.7/site-packages/zmq/eventloop/__pycache__/
venv/lib/python3.7/site-packages/zmq/eventloop/minitornado/__pycache__/
venv/lib/python3.7/site-packages/zmq/eventloop/minitornado/platform/__pycache__/
venv/lib/python3.7/site-packages/zmq/green/__pycache__/
venv/lib/python3.7/site-packages/zmq/green/eventloop/__pycache__/
venv/lib/python3.7/site-packages/zmq/log/__pycache__/
venv/lib/python3.7/site-packages/zmq/ssh/__pycache__/
venv/lib/python3.7/site-packages/zmq/sugar/__pycache__/
venv/lib/python3.7/site-packages/zmq/tests/__pycache__/

venv/lib/python3.7/site-packages/zmq/tests/asyncio/__pycache__/
venv/lib/python3.7/site-packages/zmq/utils/__pycache__/
